/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(150, 149, 141);
}

header {
    background-color: #4c6faf;
    color: white;
    padding: 1cm;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    margin-top: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

#namebakr{
    text-align: center;
}
#namebakr:hover{
    color: red;
    cursor: pointer;
    opacity: 0.7;
}
#namebakr:active{
    color: azure;
}
#btn{
    background-color: gray;
    color: white;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 335px;
    margin-bottom: 10px;
}
.greenbox{
    background-color: white;
    padding: 20px;
    margin: 15px;
    width: 25%;
    float:left;
    position: relative;
    
}
.titlegreen{
    background-color: green;
    color: white;
    width: 300px;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
    
}
.angle{
    float: right;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 23px solid green;
    margin-right: -20px;
}
.ulc{
    margin-top: 0.1px;
    border-top: 3px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    list-style: none;
    padding: 2px; ;
    cursor: pointer;
    
}
.ilc{
    border-bottom: 1px silver dotted;
    padding-left: -20px;
}
.ilc:hover{
background-color: rgb(207, 255, 207);
}
.bld{
    border-bottom: 1px silver dotted;
    padding-left: -20px;
    font-weight: bold;
}
.bld:hover{
    background-color: rgb(207, 255, 207);
    }

main {
    padding: 1em;
    background-color: rgb(150, 149, 141);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}
